@mixin telaDividida {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 100px 100px;

}

    $variaveis : rgb(253, 204, 140);
    $paragraphFont : 'Volkhov', serif;
    $subtitle : 'Playfair Display', serif;
    $title : 'Nobile', serif;