@import "./_variaveis";

@keyframes circleAnimation {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes upDownAnimation {
    0% {
        margin-top: 0;
    }

    50% {
        margin-top: -100px;
    }

    100% {
        margin-top: 0;
    }

}

.hero {
    @include telaDividida;


    border: 1px solid white;

    &__text-box {
        width: 40vw;
        margin: auto;

        &__titulos {
            margin: 20px 0;
        }

        &__links {
            a {

                ion-icon,
                img {
                    font-size: 40px;
                    width: 40px;
                    color: white;
                    margin: 20px 10px 30px;
                }
            }
        }

    }

    &__text-box__resume-about-me {
        .p-resume-about-me {
            font-size: 24px;
            line-height: 140%;
            color: white;



        }
    }
}

.hero__img-box {
    height: 70vh;
    width: 50%;
    margin: auto;
    max-height: 90vh;
    max-width: 50vh;
    position: relative;




    &__container {
        .myself {
            top: 0;
            position: absolute;
            height: 100%;
            width: 100%;
            width: inherit;
            z-index: 10;
        }


        .circle {
            position: absolute;
            bottom: -80px;
            right: -130px;
            width: 200px;
            height: 200px;
            z-index: 10;
            animation: circleAnimation 20s linear infinite;
        }

        .fitaSup {
            position: absolute;
            top: -100px;
            right: calc(40% - 100px);
            width: 300px;
            height: 200px;
            z-index: 11;
        }

        .fitaInf {
            position: absolute;
            bottom: -100px;
            right: calc(40% - 100px);
            width: 300px;
            height: 200px;
            z-index: 11;
        }

        .elAbstract {
            animation: upDownAnimation 10s linear infinite;

            position: absolute;
            top: 100px;
            left: -150px;
            width: 300px;
            height: 300px;
            z-index: 8;
        }

    }
}

@media (max-width: 1375px) {
    .hero {
        max-height: 70vw;

        &__text-box {
            flex: 1;
            margin: auto;

            &__links {
                a {

                    ion-icon,
                    img {
                        font-size: 40px;
                        width: 40px;
                        color: white;
                        margin: 20px 10px 30px;
                    }
                }
            }

        }

        &__text-box__resume-about-me {
            .p-resume-about-me {
                font-size: 16px;
                line-height: 140%;
                color: white;
            }
        }
    }

    .hero__img-box {
        height: 70vh;
        width: 50%;
        margin: auto;
        max-height: 90vh;
        max-width: 50vh;
        position: relative;




        &__container {
            .myself {
                top: 0;
                right: 0;
                position: absolute;
                height: 50vh;
                width: inherit;
                z-index: 10;
            }


            .circle {
                position: absolute;
                bottom: 150px;
                right: -50px;
                width: 120px;
                height: 120px;
                z-index: 10;
                animation: circleAnimation 20s linear infinite;
            }

            .fitaSup {
                position: absolute;
                top: -100px;
                right: calc(45% - 100px);
                width: 150px;
                height: 200px;
                z-index: 11;
            }

            .fitaInf {
                position: absolute;
                bottom: 70px;
                right: calc(45% - 100px);
                width: 150px;
                height: 200px;
                z-index: 11;
            }

            .elAbstract {
                animation: upDownAnimation 10s linear infinite;
                position: absolute;
                top: 100px;
                left: -0px;
                width: 150px;
                height: 150px;
                z-index: 8;
            }

        }
    }

}

@media (max-width: 970px) {
    .hero {
        min-height: 70vh;
        max-height: 70vh;
        padding: 50px 25px;


        .hero__img-box {
            height: 70vh;
            width: 50%;
            margin: auto;
            max-height: 90vh;
            max-width: 40vh;
            position: relative;




            &__container {
                .myself {
                    top: 0;
                    right: 0;
                    position: absolute;
                    height: 40vh;
                    width: inherit;
                    z-index: 10;
                }


                .circle {
                    position: absolute;
                    bottom: 200px;
                    right: 0px;
                    width: 120px;
                    height: 120px;
                    z-index: 9;
                    animation: circleAnimation 20s linear infinite;
                }

                .fitaSup {
                    position: absolute;
                    top: -100px;
                    right: calc(45% - 100px);
                    width: 150px;
                    height: 200px;
                    z-index: 11;
                }

                .fitaInf {
                    display: none;
                }

                .elAbstract {
                    animation: upDownAnimation 10s linear infinite;
                    position: absolute;
                    top: 100px;
                    left: -0px;
                    width: 150px;
                    height: 150px;
                    z-index: 8;
                }

            }
        }
    }
}

@media (max-width: 750px) {
    .hero {
        display: flex;
        flex-direction: column-reverse;
        max-height: none;


        .hero__img-box {
            display: block;
            width: 100vw;
            height: 50vh;
            background-color: aliceblue;

            &__container {
                width: 100%;
                height: 100%;

                .myself {
                    display: block;
                    position: relative;
                    height: 100%;
                    max-width: 100vw;
                    z-index: 10;
                }


                .circle {
                    display: none;
                    position: absolute;
                    bottom: 200px;
                    right: 0px;
                    width: 120px;
                    height: 120px;
                    z-index: 9;
                    animation: circleAnimation 20s linear infinite;
                }

                .fitaSup {
                    display: none;
                    position: absolute;
                    top: -100px;
                    right: calc(45% - 100px);
                    width: 150px;
                    height: 200px;
                    z-index: 11;
                }

                .fitaInf {
                    display: none;
                }

                .elAbstract {
                    display: none;
                    animation: upDownAnimation 10s linear infinite;
                    position: absolute;
                    top: 100px;
                    left: -0px;
                    width: 150px;
                    height: 150px;
                    z-index: 8;
                }
            }

        }

        &__text-box {
            width: 90vw;
            text-align: center;

            &__titulos {
                margin: 20px 0;

                h1 {
                    text-align: center;
                    margin-bottom: 10px;
                }

            }

            &__links {
                a {

                    ion-icon,
                    img {
                        font-size: 40px;
                        width: 40px;
                        color: white;
                        margin: 20px 10px 30px;
                    }
                }
            }

        }

        &__text-box__resume-about-me {
            .p-resume-about-me {
                font-size: 18px;
                line-height: 140%;
                color: white;



            }
        }
    }
}

@media (max-width: 500px) {
    .hero {

        padding: 0;
        &__img-box {
            padding: 0;
            display: block;
            width: 90vw;
            height: 50vh;
            background-color: aliceblue;

            &__container {
                width: 100%;
                height: 100%;

                .myself {
                    display: block;
                    position: relative;
                    height: 100%;
                    max-width: 100vw;
                    z-index: 10;
                }
            }
        }


        &__text-box {
            width: 90vw;
            text-align: center;

            &__titulos {
                margin: 20px 0;

                h1 {
                    text-align: center;
                    margin-bottom: 10px;
                }

            }

        }

        &__text-box__resume-about-me {
            .p-resume-about-me {
            text-align: center;
                font-size: 15px;
                line-height: 140%;



            }
        }
    }
}




// <section id="hero">
// <div class="container">

//     <div class="hero__text-box">
//         <div class="hero__text-box__titulos">
//             <h2>Portifólio</h2>
//             <h1>Vitor Augusto</h1>
//             <h2>Desenvolvedor Front-End</h2>
//         </div>

//         <div class="hero__text-box__links">
//             <a href="#"><ion-icon name="logo-github"></ion-icon></a>
//             <a href="#"><ion-icon name="logo-whatsapp"></ion-icon></a>
//             <a href=""><ion-icon name="mail-outline"></ion-icon></a>
//         </div>

//         <div class="hero__text-box__resume-about-me">
//             Meu nome e Vitor, eu sou um entusiasta da programação apaixonado por buscar constantemente o
//             aperfeiçoamento na área. Atualmente, estou cursando Análise
//         </div>

//     </div>

//     <div class="hero__img-box">
//         <div class="hero__img-box__container">
//             <img src="src/images/imgHero.png" alt="Imagem do Vitor Augusto olhando para o lado com o braço apoiado um uma mesa" class="img-hero">
//         </div>
//     </div>
// </div>
// </section>