@import "./_variaveis";

@keyframes circleAnimation {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes upDownAnimation {
    0% {
        margin-top: 0;
    }
    50%{
        margin-top: -100px;
    }

    100% {
        margin-top: 0;
    }

}

.hero {
    @include telaDividida;


    border: 1px solid white;

    &__text-box {
        width: 40vw;
        margin: auto;

        &__titulos {
            margin: 20px 0;
        }

        &__links {
            a {

                ion-icon,
                img {
                    font-size: 40px;
                    width: 40px;
                    color: white;
                    margin: 20px 10px 30px;
                }
            }
        }

    }

    &__text-box__resume-about-me {
        .p-resume-about-me {
            font-size: 24px;
            line-height: 140%;
            color: white;



        }
    }
}

.hero__img-box {
    height: 70vh;
    width: 50%;
    margin: auto;
    max-height: 90vh;
    max-width: 50vh;
    position: relative;




    &__container {
        .myself {
            top: 0;
            position: absolute;
            height: 70vh;
            width: inherit;
            z-index: 10;
}


        .circle {
            position: absolute;
            bottom: -80px;
            right: -130px;
            width: 200px;
            height: 200px;
            z-index: 10;
            animation: circleAnimation 20s linear infinite;
        }

        .fitaSup{
            position: absolute;
            top: -100px;
            right: calc(40% - 100px);
            width: 300px;
            height: 200px;
            z-index: 11;
        }

        .fitaInf{
            position: absolute;
            bottom: -100px;
            right: calc(40% - 100px);
            width: 300px;
            height: 200px;
            z-index: 11;
        }
        .elAbstract{
        animation: upDownAnimation 10s linear infinite;
        
            position: absolute;
            top: 100px;
            left: -150px;
            width: 300px;
            height: 300px;
            z-index: 8;
        }

        }
    }
    



// <section id="hero">
// <div class="container">

//     <div class="hero__text-box">
//         <div class="hero__text-box__titulos">
//             <h2>Portifólio</h2>
//             <h1>Vitor Augusto</h1>
//             <h2>Desenvolvedor Front-End</h2>
//         </div>

//         <div class="hero__text-box__links">
//             <a href="#"><ion-icon name="logo-github"></ion-icon></a>
//             <a href="#"><ion-icon name="logo-whatsapp"></ion-icon></a>
//             <a href=""><ion-icon name="mail-outline"></ion-icon></a>
//         </div>

//         <div class="hero__text-box__resume-about-me">
//             Meu nome e Vitor, eu sou um entusiasta da programação apaixonado por buscar constantemente o
//             aperfeiçoamento na área. Atualmente, estou cursando Análise
//         </div>

//     </div>

//     <div class="hero__img-box">
//         <div class="hero__img-box__container">
//             <img src="src/images/imgHero.png" alt="Imagem do Vitor Augusto olhando para o lado com o braço apoiado um uma mesa" class="img-hero">
//         </div>
//     </div>
// </div>
// </section>