@import 'variaveis';



.skills {
    padding: 20px 0;
    &__itens__habilidades {
        width: 100vw;
        padding: 40px;
        h2 {
            text-align: center !important;
            margin-bottom: 20px;
        }

        .skills__itens__habilidades__container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 1000px;
            margin: auto;
            padding: 0 100px ;

            .habilidades-column-left,
            .habilidades-column-right,
            .habilidades-column-center {
                margin: auto;

                h5 {
                    
                    border: 1px solid white;
                    border-radius: 3px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    margin: 70px auto;
                    transition: .5s;
                    padding: 10px 20px;
                    :last-child{
                        margin-bottom: 0;
                    }
                    

                    img {
                        width: 60px;
                        height: 60px;
                        margin-right: 20px;
                    }
                }
                h5:hover {
                    transform: scale(1.1);
                    border-color: $variaveis ;
                    font-weight: 800;
                }
            }
        }
    }
}